body{
  color: #333;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

header{
  position: sticky;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  top: 0;
}

main{
  width: 66%;
}

aside{
  width: 33%;
}

#container{
  margin: 0 auto 140px auto;
  padding: 0px 120px;
  display: flex;
  justify-content: space-between;
}

/* ヘッダー */
.site_title{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 16px;
}

#navigation{
  background-color: #333333;
}

#navigation ul{
  display: flex;
  color: white;
  width: 1179px;
  padding: 9px 5px;
  margin: 0 auto;
  justify-content: flex-start;
}

#navigation ul li{
  font-size: 14px;
  margin-right: 60px;
}

/* コンテンツ */

.article_top{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 42px 16px;
}

.article_top article{
  width: 32%;
}

.article_top article img{
  width: 100%;
}

.article_top article p{
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
}
.article_top article a{
  position: relative; /*疑似要素使用のため*/
  text-decoration: none; /*標準時の下線を削除*/
  display: block;
  width: 22%;
  margin: 0 auto;
}

.article_top article a::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 98%;
  height: 1px;
  background-color: #333333;
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.article_top article a:hover::after{
  visibility: hidden;
  opacity: 0;
  bottom: -4px; /*4px下まで移動*/
  transition: .3s;
}

.article_top article a p{
  font-weight: normal;
  font-size: 14px;
  width: 100%;
}


#container main article{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 36.5px 16px;
}

#container main article .article_title{
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 24px;
}

#container main article ul{
  display: flex;
  margin-bottom: 10px;
}

#container main article ul li{
  margin-right: 20px;
}

#container main article ul li a{
  font-size: 14px;
}

.text_link{
  padding: 13px 41px;
  text-align: left;
}

.text_link a p{
  font-weight: normal;
  font-size: 14px;
  width: 100%;
}

.text_link a::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 98%;
  height: 1px;
  background-color: #333333;
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.text_link a{
  position: relative; /*疑似要素使用のため*/
  text-decoration: none; /*標準時の下線を削除*/
  display: block;
  width: 12%;
  margin: 0 auto;
}

.text_link a:hover::after{
  visibility: hidden;
  opacity: 0;
  bottom: -4px; /*4px下まで移動*/
  transition: .3s;
}

.text_link .text{
  margin-bottom: 24px;
}

/* aside */
/* profile */
aside{
  display: flex;
  flex-direction: column;
}

aside .profile{
  padding: 39px 30px 0 10px;
  text-align: center;
  margin-bottom: 57px;
}
aside .profile img{
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
  border-radius: 999px;
}

aside .profile .name{
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
  padding: 6px 9px 0px 8px;
}

aside .profile .profile_text{
  font-size: 14px;
  text-align: left;
  padding: 0 4px;
}
/* ranking */
aside .ranking{
  text-align: center;
  padding: 3px 35px 0 15px;
  margin-bottom: 36px;
}

.ranking_title{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

aside .ranking article{
  width: 345px;
}

aside .ranking article img{
  height: 194px;
  margin-bottom: 5px;
  width: 100%;
}

aside .ranking article .ranking_text{
  font-size: 14px;
  text-align: left;
}

aside .ranking > * + *{
  margin-bottom: 26px;
}

/* archive */
.archive{
  text-align: center;
}

.archive_title{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 31px;
  padding-right: 20px;
}

.archive ul{
  padding: 0 35px 0px 15px;
  font-size: 14px;
}

.archive ul li:first-child{
  padding: 20px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  text-align: left;
}

.archive ul > * + *{
  padding: 20px;
  border-bottom: 1px solid #777;
  text-align: left;
}